# Replace with your DB credentials!
#DATABASE_URL="libsql://db-name-user.turso.io"
#DATABASE_AUTH_TOKEN=""
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
PUBLIC_MEILISEARCH_URL="http://localhost:7700/"
PUBLIC_MEILISEARCH_KEY=""
MEILISEARCH_KEY=""