/* @import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

p {
	font-size: 16px;
	line-height: 20px;
}
